<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image"></div>
    <div class="container">
      <div class="col-lg-12 mx-auto">
        <div class="card shadow border-0">
          <h4 class="card-title text-center mt-4">Cadastra-se</h4>
          <div class="card-body px-lg-5 py-lg-5 pt-2">
            <%= render 'form', user: @user, public_access: true %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>