<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image"></div>
    <div class="container">
      <div class="col-lg-5 col-md-8 mx-auto">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header">
            <img class="card-img" src="<%= asset_path('ill/bg5-1.svg') %>" alt="Card image">
            <h4 class="card-title text-center">Cadastro concluído com SUCESSO</h4>
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              Enviamos uma mensagem para seu email com instruções para criação da senha de acesso.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>