#certificate-frame {
  background-size: 100% 100%;
}

#certificate-text-frame {
  position: relative;
  text-align: justify !important;
}

#certificate-text-content {
  position: relative;
  text-align: justify !important;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

#certificate-signatures-frame {
  position: relative;
  text-align: center;
  width: 100%;
}