$navbar-heigth: 64px;
$footer-heigth: 124px;
$breadcumb-heigth: 43.68px;

#logo {
  font-size: 18pt;
  font-weight: bold;
}

// Empurra o footer para baixo
body > .container {
  min-height: calc(100vh - #{$navbar-heigth} - #{$footer-heigth} - #{$breadcumb-heigth});
}

// Empurra o footer para baixo
body > .container-spinner {
  display: none;
  vertical-align: middle;
  height: calc(100vh - #{$navbar-heigth} - #{$footer-heigth});
}

.table thead th {
  font-size: 0.8rem;
  font-weight: bold;
}

.table th, .table td {
  padding: 0.8rem;
}

.table tbody tr td {
  font-size: 0.9rem;
}

.breadcrumb {
  background: none;
  font-size: 0.82rem;
}

.page-header > .container, .page-header > .container-fluid {
  padding-top: 0;
  padding-bottom: 0;
}

.page-header {
  min-height: calc(100vh - 43.6833px - 56px);
}

.alert {
  padding: 0.8rem 1rem;
}

.alert-dismissible .close {
  right: 1rem;
}

.alert-dismissible .close > span:not(.sr-only) {
  font-size: 1rem;
}

.alert > ul {
  margin-bottom: 0;
  margin-left: -1rem;
}

.alert > ul > li {
  font-weight: normal;
}

label {
  font-weight: bold;
}

.scanned-signature {
  width: 200px;
  height: 50px;
  margin-bottom: 5px;
}

.choices[data-type*="select-one"] .choices__button {
  top: 23px;
}

.static-childs-cols {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: static;
  }
}

.no-label {
  margin-top: 31px;
}

.auto-height {
  height: auto !important;
}

.custom-checkbox {
  margin-top: 40px;
}

.form-area {
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: .25rem;
  transition: all .5s;
}

.note-editor > .tooltip {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.break-text {
  white-space: normal !important;
}

// Aumenta largura do container
.container, .container-lg, .container-xl {
  max-width: 1366px;
}

// Loading
.text {
  padding: 50px;
  font-family: sans-serif;
  color: #666;
}

.inputcontainer {
  position: relative;
}

input {
  width: 100%;
  font-size: 20px;
  box-sizing: border-box;
}

.icon-container {
  position: absolute;
  right: 20px;
  top: calc(50% - 2px);
  width: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.loader {
  position: relative;
  height: 20px;
  width: 20px;
  display: inline-block;
  animation: around 5.4s infinite;
}

@keyframes around {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

.loader::after, .loader::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-width: 2px;
  border-color: #5e72e4 #5e72e4 transparent transparent;
  border-style: solid;
  border-radius: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  //animation: around 0.7s ease-in-out infinite;
}

.loader::after {
  animation: around 0.7s ease-in-out 0.1s infinite;
  background: transparent;
}

// Ajusta estilo do choices
.choices[data-type*="select-multiple"] .choices__inner {
  padding: 5px .75rem 0;
}

// Ajusta estilos do summernote
.note-icon-caret {
  display: none;
}

.note-btn {
  background-color: #f4f5f7;
  border: 0;
  color: #172b4d;
  box-shadow: none;
  font-weight: normal;
}

.note-editor.note-frame, .note-editor.note-airframe {
  border: 1px solid #cad1d7;
  border-radius: 0.25rem;
  box-shadow: none;
  background-color: white;
}

.dropdown-fontname {
  padding-left: 7px;
  padding-right: 7px;
}

.swal2-top-end {
  margin-top: #{$navbar-heigth};
}