#logo {
  font-size: 18pt;
  font-weight: bold;
}

.table thead th {
  font-size: 0.8rem;
  font-weight: bold;
}

.table th, .table td {
  padding: 0.8rem;
}

.table tbody tr td {
  font-size: 0.9rem;
}

.breadcrumb {
  background: none;
  font-size: 0.82rem;
}

.page-header > .container, .page-header > .container-fluid {
  padding-top: 0;
  padding-bottom: 0;
}

.page-header {
  min-height: calc(100vh - 43.6833px - 56px);
}

.alert {
  padding: 0.8rem 1rem;
}

.alert-dismissible .close {
  right: 1rem;
}

.alert-dismissible .close > span:not(.sr-only) {
  font-size: 1rem;
}

.alert > ul {
  margin-bottom: 0;
  margin-left: -1rem;
}

.alert > ul > li {
  font-weight: normal;
}

label {
  font-weight: 500;
}

.scanned-signature {
  width: 200px;
  height: 50px;
  margin-bottom: 5px;
}

.choices[data-type*="select-one"] .choices__button {
  margin-top: 0;
}

.no-label {
  margin-top: 31px;
}

.form-area {
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: .25rem;
  transition: all .5s;
}

// Aumenta largura do container
.container, .container-sm, .container-md, .container-lg, .container-xl {
  max-width: 1220px;
}

// Loading
.text {
  padding: 50px;
  font-family: sans-serif;
  color: #666;
}

.inputcontainer {
  position: relative;
}

input {
  width: 100%;
  font-size: 20px;
  box-sizing: border-box;
}

.icon-container {
  position: absolute;
  right: 20px;
  top: calc(50% - 2px);
  width: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.loader {
  position: relative;
  height: 20px;
  width: 20px;
  display: inline-block;
  animation: around 5.4s infinite;
}

@keyframes around {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

.loader::after, .loader::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-width: 2px;
  border-color: #5e72e4 #5e72e4 transparent transparent;
  border-style: solid;
  border-radius: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  //animation: around 0.7s ease-in-out infinite;
}

.loader::after {
  animation: around 0.7s ease-in-out 0.1s infinite;
  background: transparent;
}