#logo {
  font-size: 18pt;
  font-weight: bold;
}

.table thead th {
  font-size: 0.8rem;
  font-weight: bold;
}

.table th, .table td {
  padding: 0.8rem;
}

.table tbody tr td {
  font-size: 0.9rem;
}

.breadcrumb {
  background: none;
  font-size: 0.82rem;
}

.page-header > .container, .page-header > .container-fluid {
  padding-top: 0;
  padding-bottom: 0;
}

.page-header {
  min-height: calc(100vh - 43.6833px - 56px);
}

.alert {
  padding: 0.8rem 1rem;
}

.alert-dismissible .close {
  right: 1rem;
}

.alert-dismissible .close > span:not(.sr-only) {
  font-size: 1rem;
}

.alert > ul {
  margin-bottom: 0;
  margin-left: -1rem;
}

.alert > ul > li {
  font-weight: normal;
}

label {
  font-weight: 500;
}

.scanned-signature {
  width: 200px;
  height: 50px;
  margin-bottom: 5px;
}