<%= page_title('Visualizar Evento') %>

<div class="row">
  <%= render 'show', event: @event %>
</div>

<div class="clearfix">
  <div class="float-right">
    <%= link_to span_icon(i18n_word(:come_back), 'arrow-left'), :back,
                class: 'btn btn-secondary btn-icon btn-1 btn-simple' %>
    <%= link_to span_icon(i18n_word(:edit), 'edit'), edit_event_path(@event),
                class: 'btn btn-primary btn-icon btn-1 btn-simple',
                data: { toggle: 'tooltip', placement: 'bottom' }, title: "Editar" %>
  </div>
</div>
