<%= page_title('Visualizar Evento') %>

<div class="row">
  <%= render 'show', event: @event %>
</div>

<div class="float-right">
  <%= link_to '<span><i class="fa fa-arrow-left mr-1"></i>Voltar</span>'.html_safe, :back,
              class: 'btn btn-secondary btn-icon btn-1 btn-simple' %>
  <%= link_to '<span><i class="fa fa-edit mr-1"></i>Editar</span>'.html_safe, edit_event_path(@event),
              class: 'btn btn-primary btn-icon btn-1 btn-simple' %>
</div>
