<div class="wrapper">
  <div class="page-header error-page">
<!--    <div class="page-header-image" style="background-image: url('../assets/img/ill/404.svg');"></div>-->
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="title">500</h1>
          <p class="lead">O Acesso á página foi negado :(</p>
          <h4 class="description text-default">Entre em contato com o suporte para mais informações.</h4>
        </div>
      </div>
    </div>
  </div>
</div>