<%= page_title("#{i18n_word(:view)} #{i18n_model(:certificate_template)}") %>

<div class="row">
  <div class="col-sm-12">
    <%= render 'show', certificate_template: @certificate_template %>
  </div>
</div>

<div class="clearfix mt-4">
  <div class="float-right">
    <%= link_to "<span><i class='fa fa-arrow-left mr-1'></i>#{i18n_word(:come_back)}</span>".html_safe, :back,
                class: 'btn btn-secondary btn-icon btn-1 btn-simple' %>
    <%= link_to "<span><i class='fa fa-edit mr-1'></i>#{i18n_word(:edit)}</span>".html_safe, edit_certificate_template_path(@certificate_template),
                class: 'btn btn-primary btn-icon btn-1 btn-simple',
                data: { toggle: 'tooltip', placement: 'bottom' }, title: "Editar" %>
  </div>
</div>