upstream puma_seu_production {
    server unix:/var/www/seu/shared/tmp/sockets/unicorn.socket fail_timeout=0;
}

# Remove or comment if not using SSL
server {
    listen 80;
    server_name {{site_address}} www.{{site_address}};
    return 301 https://$host$1$request_uri;
}

server {
    listen 443; # Change to 80 if you are not going to use SSL

    server_name {{site_address}} www.{{site_address}};
    root /var/www/seu/current/public;
    try_files $uri/index.html $uri @puma_seu_production;

    # Remove the four lines below if you are not going to use SSL
    ssl on;
    ssl_certificate /etc/letsencrypt/live/{{site_address}}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{site_address}}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

    client_max_body_size 4G;
    keepalive_timeout 10;

    error_page 500 502 504 /500.html;
    error_page 503 @503;

    location @puma_seu_production {
        proxy_http_version 1.1;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;
        proxy_redirect off;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_set_header X-Forwarded-Proto https;
        proxy_pass http://puma_seu_production;

        # limit_req zone=one;
        access_log /var/www/seu/shared/log/nginx.access.log;
        error_log /var/www/seu/shared/log/nginx.error.log;
    }

    location ^~ /assets/ {
        gzip_static on;
        expires max;
        add_header Cache-Control public;
    }

    location = /50x.html {
        root html;
    }

    location = /404.html {
        root html;
    }

    location @503 {
        error_page 405 = /system/maintenance.html;
            if (-f $document_root/system/maintenance.html) {
                rewrite ^(.*)$ /system/maintenance.html break;
            }
        rewrite ^(.*)$ /503.html break;
    }

    if ($request_method !~ ^(GET|HEAD|PUT|PATCH|POST|DELETE|OPTIONS)$ ){
        return 405;
    }

    if (-f $document_root/system/maintenance.html) {
        return 503;
    }
}