<p> Olá, <%= @resource.name %>! </p>

<p> Seja bem vindo(a) ao CERT. </p>

<p> Você foi cadastrado no nosso sistema e para criar uma senha para sua nova conta basta clicar no link abaixo: </p>

<p> <%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %> </p>

<p> Esse link irá expirar em 6 horas, após esse período você deverá acessar a página de login do sistema e clicar em
  esqueci minha senha para obter um novo link. </p>